body{
    background-image: url("/img/fondo.png");
    background-attachment: fixed;
    background-color: #f7f9fD;
    margin:0;
    padding: 1em;
    font-family: Ubuntu;
}
header, footer, section{
    max-width: 1680px;
    margin:auto
}
                                /*  header  */
header{
    background-color: #95ECF5aa;
    backdrop-filter: blur(6px);
    border-radius: 1em;
    border-style: solid;
    border-color: #95ECF5;
    padding: 1em;
    display: flex;
    box-shadow:-.1em 0.1em 1em #72AEB8;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
}

.imgLogo{
    width: 100%;
    max-width:128px;
    margin: auto;
}

h1{
    font-family: 'Ubuntu Mono';
    text-shadow: -0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
    font-size: 4em;
    font-weight: 400;
    padding-left: .6rem;
}

nav{
    font-size: 1.2em;
}

                                /*   section  */
section{
    background-color: #fff9ffaa;
    backdrop-filter: blur(5px);
    border-radius: 1em;
    border-style: solid;
    border-color: #fff9ff;
    margin-top: 1em;
    box-shadow:-.1em 0.1em 1em #9c8b9caa;
}

h2{
    font-size: 2em;
    text-align: center;
    font-family: 'Ubuntu Mono';
    text-shadow: -0.1em 0.1em 0.3em rgba(0, 0, 0, 0.5);
}

.sabores, .decoraciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:stretch
}

.card{
    margin: 1em;
    background-color: #fff9ff;
    border-radius: 1em;
    box-shadow:-.1em 0.1em 1em #9c8b9caa;
    padding: 1em;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    max-width: 256px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.imgCard{
    max-width:100%;
    margin: 1em;
}

.card > p{
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
}

.card > .precio{
    font-weight: bold;
}

afooter{
    text-align:center;
    background-color: #6bb5ff;  
    text-align: center;
    overflow:hidden
}

tr, th, caption{
    background-color: #c5ff7a;
    text-align: center;
    border: #abf561;
    border-style: solid;
    }
caption{
    background-color: #abf561;
}

table{
    flex-wrap: wrap;
    border: #abf561;
    border-style: solid;
    border-collapse: collapse;
    margin:1em;
    max-width: 1200px;
    min-width: 240px;
    }

td{
    padding: 5px 3px;
    border: #abf561;
    border-style:solid
}

caption{
    font-size: 1.5em;
    font-weight: bolder;
}

.muestra{
    height: 120px;
    
}



ul{
    list-style: none;
    display:flex;  
 }

 li{
     margin-left: .6em;
     margin-right: .6em;
 }

 @media (max-width: 650px) {
    h1 {
      font-size: 3em;
    }

    .logo{
        flex-wrap: nowrapa;
    }
    .imgLogo{
        max-width: 96px;
    }
  }


 @media (max-width: 550px) {
    h1 {
      display: none;
    }

    .logo{
        flex-wrap: nowrapa;
    }
    .imgLogo{
        max-width: 80px;
    }
  }