body{
    background-image: url("/img/fondo.png");
    background-attachment: fixed;
    background-color: #f7f9fD;
    margin:0;
    padding: 1em;
    font-family: Ubuntu;
    color:#111
}
header, footer, section{
    max-width: 1680px;
    margin:auto
}
                                /*  header  */
header{
    background-color: #95ECF5aa;
    backdrop-filter: blur(6px);
    border-radius: 1em;
    border-style: solid;
    border-color: #95ECF5;
    padding: 1em;
    display: flex;
    box-shadow:-.1em 0.1em 1em #72AEB8;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
}

.imgLogo{
    width: 100%;
    max-width:128px;
    margin: auto;
}

h1{
    font-family: 'Ubuntu Mono';
    text-shadow: -0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
    font-size: 4em;
    font-weight: 400;
    padding-left: .6rem;
}

nav{
    font-size: 1.2em;
}
a{
    text-decoration: none;
    color: #111;
}

                               /*   section  */
section{
    background-color: #fff9ffaa;
    backdrop-filter: blur(5px);
    border-radius: 1em;
    border-style: solid;
    border-color: #fff9ff;
    margin-top: 1em;
    box-shadow:-.1em 0.1em 1em #9c8b9caa;
}

h2{
    font-size: 2em;
    text-align: center;
    font-family: 'Ubuntu Mono';
    text-shadow: -0.1em 0.1em 0.3em rgba(0, 0, 0, 0.5);
}

.sabores, .decoraciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:stretch
}

.card, .dataCard{
    margin: 1em;
    background-color: #fff9ff;
    border-radius: 1em;
    box-shadow:-.1em 0.1em 1em #9c8b9caa;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.card{
    max-width: 256px;
    padding: 1em;

}

.dataCard{
    font-size: 1.2em;
    width: 80%;
    margin: auto;
}

.imgCard{
    max-width:100%;
    margin: 1em;
}

.card > p{
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
}

.card > .precio{
    font-weight: bold;
}


.card > input, .dataCard > input, .dataCard > textarea{
    margin: auto;
    margin-bottom: 1em;
    width: 90%;
    background-color: #fef  ;
    border-radius: .5em;
    border-color: #fef;
}

                            /*  footer  */
footer{
    text-align: center;
    font-size: 1.2em;
    background-color: #ffe9ff;
    border-radius: 1em;
    box-shadow:-.1em 0.1em 1em #9c8b9caa;
    background-image: url("/img/fondo.png");
    border-style: solid;
    border-color: #ffdfff;
    margin-top: 1em;
}

.tablas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: auto;
    max-width: 1680px;
}

table{
    text-align: center;
    background-color: #efe;
    margin: auto;
    margin-top:1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 3px;
    box-shadow:-.1em 0.1em 1em #8CA58C;
}

caption{
    background-color: #dfd;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    font-size: 1.5em;
    font-weight: bold;
}

.megaButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:stretch;

}

.megaButton{
    background-color: #fff9ff;
    border-radius: 1em;
    box-shadow:-.1em 0.1em 1em #9c8b9caa;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 4em;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-width: 256px;
    padding:6%
}



@media (max-width: 650px) {
    h1 {
      font-size: 3em;
    }
    .imgLogo{
        max-width: 96px;
    }
    caption{
        font-size: 1.2rem;
    }

    th,td{
        font-size: .8rem;
    }
    .megaButton{
        font-size: 3.5em;
    }
  }


 @media (max-width: 550px) {
    h1 {
      display: none;
    }
    .imgLogo{
        max-width: 80px;
    }
    th,td{
        font-size: .6rem;
    }
    .megaButton{
        font-size: 3em;
        min-width: 224px;
    }

  }

  @media (max-width: 350px) {


    .imgLogo{
        max-width: 64px;
    }
    footer{
        font-size: 1em;
    }


    .megaButton{
        font-size: 2em;
        min-width: 160px;
    }

  }